@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("rubik-400.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("rubik-700.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("roboto-700.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  background-color: #fbf8ec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
}

.main-container {
  max-width: 1440px;
  width: calc(100% + 232px);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  height: auto;
  color: #ffffff;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.title {
  margin: 0;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

.link {
  position: relative;
  padding-right: 32px;
  text-decoration: none;
  color: #606060;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.link::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  right: -20px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/images/arrow.svg");
}

.text {
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.main-header {
  padding: 0 116px;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.main__header-nav {
  padding: 16px 0 0 0;
  display: flex;
  align-items: center;
}

.main__header-logo {
  margin-right: 40px;
}
.main__header-logo img {
  min-width: 152px;
}

.catalog-btn {
  position: relative;
  padding: 8px;
  margin-right: 16px;
  width: 140px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #70c05b;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.catalog-btn:hover {
  background-color: #4e953c;
}
.catalog-btn::after {
  content: "";
  position: absolute;
  background-image: url("../../images/menu.svg");
  background-position: center right;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list {
  position: absolute;
  padding: 40px 160px;
  content: "";
  top: 66px;
  left: 0;
  right: 0;
  -moz-columns: 272px 4;
       columns: 272px 4;
  row-gap: 400px;
  width: 100%;
  background-color: #ffffff;
  transform: translateX(-200%);
  transition: all 0.2s ease-in-out;
  z-index: 3;
}

.catalog-menu:hover > .catalog-btn + .catalog-list {
  transform: translateX(0);
}

.catalog-link {
  display: block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 24px;
}
.catalog-link:hover {
  color: #F63;
}

.catalog-user-form {
  position: relative;
  margin-right: 40px;
}

.catalog-user-input {
  padding: 8px 40px 8px 8px;
  width: 355px;
  height: 40px;
  font-family: inherit;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #70c05b;
  caret-color: #70c05b;
}
.catalog-user-input:focus {
  outline: none;
  border: 1px solid #70c05b;
}

.search--icon {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-image: url("../../images/search.svg");
  background-repeat: no-repeat;
  background-position: center right;
  z-index: 999;
  cursor: pointer;
}

.catalog-list-user {
  display: flex;
  align-items: center;
}

.catalog-item-user:nth-child(n+3) {
  margin-left: 24px;
}

.catalog-link-user {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #ffffff;
  color: #414141;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.icon--box,
.icon--cart,
.icon--heart {
  flex-direction: column;
}

.catalog-link-user.icon--cart svg,
.catalog-link-user.icon--heart svg,
.catalog-link-user.icon--box svg {
  transition: all 0.3s ease-in-out;
  fill: #414141;
  margin-bottom: 8px;
}

.catalog-link-user:hover.icon--heart svg {
  fill: #F63;
}

.catalog-link-user:hover.icon--box svg {
  fill: #f3a200;
}

.catalog-link-user.icon--cart {
  position: relative;
}

.catalog-link-user:hover.icon--cart svg {
  fill: #154163;
}

.icon--cart-decor::after {
  position: absolute;
  content: attr(data-number);
  top: -7px;
  right: 11px;
  width: 14px;
  height: 14px;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
  background-color: #F63;
  border-radius: 4px;
  z-index: 999;
}

.profile-list {
  position: relative;
  padding: 0;
  list-style: none;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}

.profile-item {
  position: relative;
}

.profile-list-select {
  position: absolute;
  top: 55px;
  padding: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}

.profile-list .profile-list-select {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.profile-list li:hover > .profile-list-select {
  opacity: 1;
  visibility: visible;
}

.profile-list li:hover a > .user-avatar-arrow svg {
  transition: all 0.4s ease-in-out;
  transform: rotate(180deg);
}

.user-avatar-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.user-avatar-name {
  margin-left: 10px;
  margin-right: 40px;
  display: inline-block;
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.user-avatar-signature {
  display: inline-block;
  width: 50px;
  color: #757371;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.user-avatar-arrow svg,
.user-avatar-arrow-select svg {
  fill: #414141;
}

.main-header-banner-wrap {
  display: flex;
  align-items: center;
}

.main-header-banner {
  padding: 0 128px 0 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  min-height: 200px;
  background-image: url("../../images/main-header-banner-decor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-header-banner-title {
  max-width: 751px;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.stock {
  padding: 40px 116px 60px 116px;
}

.new {
  padding: 60px 116px 60px 116px;
}

.bought {
  padding: 60px 116px 60px 116px;
}

.product__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product__card {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.product__card-content {
  padding: 8px;
}

.product-wrap-img {
  position: relative;
}

.product-heart-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.product-discount {
  position: absolute;
  padding: 4px 8px;
  margin: 0;
  bottom: 0;
  left: 10px;
  color: #ffffff;
  background-color: #F63;
  border-radius: 4px;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__wrap-card {
  display: flex;
  flex-direction: column;
}

.product-card-price {
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.product-subtitle {
  color: #bfbfbf;
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.product__wrap-price {
  display: flex;
  flex-direction: column;
}

.product-price {
  color: #606060;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-text {
  margin: 8px 0 8px 0;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-btn {
  display: inline-block;
  padding: 8px;
  width: 100%;
  min-height: 40px;
  margin-top: auto;
  color: #70c05b;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  outline: 1px solid #70c05b;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.product-btn:hover {
  background-color: #F63;
  color: #ffffff;
  outline: 1px solid transparent;
}

.offers {
  padding: 0 116px 60px 116px;
}

.offers-title {
  margin: 0 0 40px 0;
}

.offers__content__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.offers__content__block {
  position: relative;
  display: flex;
  padding-left: 40px;
  width: 584px;
  min-height: 200px;
}

.offers__content {
  max-width: 258px;
}

.offers__content-title {
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.offers__content-text {
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.offers__content__card-img {
  position: absolute;
  width: 310px;
  height: 200px;
  top: 3px;
  right: -4px;
}

.bg--card {
  overflow: hidden;
  border-radius: 4px;
  background: #fcd5ba;
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}

.offers__content__cart-img {
  position: absolute;
  top: 5px;
  right: 55px;
  width: 193px;
  height: 186px;
}

.bg--cart {
  overflow: hidden;
  border-radius: 4px;
  background-color: #e5ffde;
  background-image: url("../../../images/offers-decor.svg");
  background-repeat: no-repeat;
}

.articles {
  padding: 40px 116px 40px 116px;
}

.articles__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.articles-list {
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.articles-item {
  max-width: 376px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.articles__block {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: 362px;
  min-height: 255px;
  padding: 10px;
}

.articles__block-date {
  color: #8f8f8f;
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.articles__block-title {
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.articles__block-link {
  display: inline-block;
  width: 150px;
  padding: 13px 34px;
  margin-top: auto;
  border-radius: 4px;
  background-color: #E5ffde;
  color: #70c05b;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-decoration: none;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.articles__block-link:hover {
  background-color: #70c05b;
  color: #ffffff;
}

.caralog {
  padding: 27px 116px 40px 116px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item:nth-child(n+2) {
  margin-left: 56px;
}
.breadcrumbs-item:nth-child(n+2) > .breadcrumbs-link::before {
  position: absolute;
  content: "";
  left: -30px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.breadcrumbs-link {
  position: relative;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.breadcrumbs-link-current {
  color: #8f8f8f;
}

.caralog-title {
  margin: 48px 0 81px 0;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.catalog__categories-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog__categories-item {
  cursor: pointer;
}
.catalog__categories-item:nth-child(1) {
  grid-column: 1/3;
}
.catalog__categories-item:nth-child(10) {
  grid-column: 3/5;
}
.catalog__categories-item:nth-child(12) {
  grid-column: 2/4;
}

.catalog__categories-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.catalog__categories-link::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 117px;
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70C05B 82.81%);
  transition: all 0.5s ease-in-out;
}
.catalog__categories-link:hover::after {
  background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #F63 100%);
}

.catalog__categories-title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 10px;
  color: #ffffff;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  z-index: 5;
}

.about {
  padding: 27px 116px 0 116px;
}

.about-title {
  margin-left: 30px;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
}

.about__content {
  margin-bottom: 120px;
  margin-left: 30px;
  position: relative;
  min-height: 280px;
}

.about__content-text {
  max-width: 550px;
  color: #F63;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.about-img {
  position: absolute;
  right: 0;
  top: -92px;
  z-index: -1;
}

.about__advantages-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.about__advantages-item {
  position: relative;
  max-width: 405px;
}
.about__advantages-item::before {
  position: absolute;
  top: 0;
  left: -40px;
  content: "";
  background-image: url("../../../images/advantages-tick-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}
.about__advantages-item::after {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: -34px;
  background-image: url("../../../images/advantages-tick.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 14px;
  text-align: center;
  z-index: 2;
}

.about__advantages-title {
  margin-top: 0;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.about__advantages-text {
  margin-bottom: 0;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.gratitude__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 120px;
  margin-bottom: 80px;
}

.gratitude-text {
  position: relative;
  max-width: 805px;
  padding: 30px 40px;
  margin: 0;
  color: #70c05b;
  background-color: #E5ffde;
  border-radius: 16px;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.gratitude-text::before {
  position: absolute;
  content: "";
  left: -20px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 41px;
  height: 40px;
  background-image: url("../../../images/gratitude-decor.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-footer {
  padding: 40px 116px 58px 116px;
  background-image: url("../../images/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-wrap {
  display: flex;
  align-items: center;
}

.main-footer-list {
  display: flex;
  padding: 0;
  margin: 0 auto 0 40px;
  list-style: none;
  gap: 40px;
}

.main-footer-link {
  text-decoration: none;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.main-footer-social-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-footer-social-link {
  display: inline-block;
  margin-left: 16px;
}

.main-footer-logo-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-footer-social-link--phone {
  margin-left: 72px;
  text-decoration: none;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.main-footer-address-span {
  display: inline-block;
  margin-right: 8px;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}

.none {
  display: none;
}/*# sourceMappingURL=main.css.map */