@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("rubik-400.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("rubik-700.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("roboto-700.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.main-header {
  padding-bottom: 40px;
  background-color: #ffffff;
}

.main__header-nav {
  padding: 16px 0 4px 0;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #fbf8ec;
}

.main__header-logo {
  margin-right: 40px;
}

.catalog-btn {
  position: relative;
  padding: 8px;
  margin-right: 16px;
  width: 140px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #70c05b;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.catalog-btn:hover {
  background-color: #4e953c;
}
.catalog-btn::after {
  content: "";
  position: absolute;
  background-image: url("../../images/menu.svg");
  background-position: center right;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list {
  position: absolute;
  padding: 40px 160px;
  content: "";
  top: 72px;
  left: 0;
  right: 0;
  -moz-columns: 272px 4;
       columns: 272px 4;
  row-gap: 400px;
  width: 100%;
}

.catalog-link {
  display: block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 24px;
}
.catalog-link:hover {
  color: #F63;
}

.catalog-user-form {
  position: relative;
  margin-right: 40px;
}

.catalog-user-input {
  padding: 8px 40px 8px 8px;
  width: 355px;
  height: 40px;
  font-family: inherit;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #70c05b;
  caret-color: #70c05b;
}
.catalog-user-input:focus {
  outline: none;
  border: 1px solid #70c05b;
}

.search--icon {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-image: url("../../images/search.svg");
  background-repeat: no-repeat;
  background-position: center right;
  z-index: 999;
  cursor: pointer;
}

.catalog-list-user {
  display: flex;
  align-items: center;
}

.catalog-item-user:nth-child(n+3) {
  margin-left: 24px;
}

.catalog-link-user {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #414141;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.icon--box,
.icon--cart,
.icon--heart {
  flex-direction: column;
}

.catalog-link-user.icon--cart svg,
.catalog-link-user.icon--heart svg,
.catalog-link-user.icon--box svg {
  transition: all 0.3s ease-in-out;
  fill: #414141;
  margin-bottom: 8px;
}

.catalog-link-user.icon--heart svg:hover {
  fill: #F63;
}

.catalog-link-user.icon--box svg:hover {
  fill: #f3a200;
}

.catalog-link-user.icon--cart {
  position: relative;
}

.catalog-link-user.icon--cart svg:hover {
  fill: #154163;
}

.icon--cart-decor::after {
  position: absolute;
  content: attr(data-number);
  top: -7px;
  right: 11px;
  width: 14px;
  height: 14px;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
  background-color: #F63;
  border-radius: 4px;
  z-index: 999;
}

.profile-list {
  position: relative;
  padding: 0;
  list-style: none;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}

.profile-item {
  position: relative;
}

.profile-list-select {
  position: absolute;
  top: 55px;
  padding: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}

.profile-list .profile-list-select {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.profile-list li:hover > .profile-list-select {
  opacity: 1;
  visibility: visible;
}

.profile-list li:hover a > .user-avatar-arrow svg {
  transition: all 0.4s ease-in-out;
  transform: rotate(180deg);
}

.user-avatar-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.user-avatar-name {
  margin-left: 10px;
  margin-right: 40px;
  display: inline-block;
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.user-avatar-signature {
  display: inline-block;
  width: 50px;
  color: #757371;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.user-avatar-arrow svg,
.user-avatar-arrow-select svg {
  fill: #414141;
}

.main-header-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-image: url("../../images/main-header-banner-decor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gold;
}

.main-header-banner-title {
  color: #414141;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.stock {
  padding: 40px 0 60px 0;
}

.new {
  padding: 60px 0 60px 0;
}

.product__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.product__header-title {
  margin: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product__card {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.product__card-content {
  padding: 8px;
}

.product-wrap-img {
  position: relative;
}

.product-heart-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.product-discount {
  position: absolute;
  padding: 4px 8px;
  margin: 0;
  bottom: 0;
  left: 10px;
  color: #ffffff;
  background-color: #F63;
  border-radius: 4px;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__wrap-card {
  display: flex;
  flex-direction: column;
}

.product-card-price {
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.product-subtitle {
  color: #bfbfbf;
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.product__wrap-price {
  display: flex;
  flex-direction: column;
}

.product-price {
  color: #606060;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-text {
  margin: 8px 0 8px 0;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-btn {
  padding: 8px;
  width: 100%;
  min-height: 40px;
  color: #70c05b;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  outline: 1px solid #70c05b;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.product-btn:hover {
  background-color: #F63;
  color: #ffffff;
  outline: 1px solid transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  background-color: #fbf8ec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.main-container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  height: auto;
  color: #ffffff;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.title {
  margin: 0;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

.link {
  position: relative;
  padding-right: 32px;
  text-decoration: none;
  color: #606060;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.link::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  right: -20px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/images/arrow.svg");
}

.none {
  display: none;
}/*# sourceMappingURL=main.css.map */