// FONTS

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("rubik-400.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("rubik-700.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("roboto-700.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

// Vars

$ff-bold: 700;
$ff-regular: 400;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: $ff-regular;
  font-size: 10px;
  margin: 0;
  background-color: #fbf8ec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  vertical-align: top;
}


.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  height: auto;
  color: #ffffff;
  font-size: 16px;
  font-family: inherit;
  font-weight: $ff-regular;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.title {
  margin: 0;
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

.link {
  position: relative;
  padding-right: 32px;
  text-decoration: none;
  color: #606060;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  &::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    right: -20px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/images/arrow.svg');
  }
}

.text {
  color: #414141;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

// BLOCKS

@import "./blocks/header";
@import "./blocks/section/product";
@import "./blocks/section/offers";
@import "./blocks/section/articles";
@import "./blocks/section/catalog";
@import "./blocks/section/about";
@import "./blocks/footer";

.none {
  display: none;
}