.modal__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(252, 213, 186, 0.8);
    z-index: 99;
}

.modal {
    padding-top: 72px;
    position: relative;
    margin: auto;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 8px 16px 32px 0px rgba(255, 102, 51, 0.2);
}

.modal__size {
    width: 420px;
    min-height: 431px;
}

.icon-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f3f2f1;
    cursor: pointer;
}

.modal__content {}

.modal__content-title {
    max-width: 260px;
    margin: auto;
    margin-bottom: 32px;
    color: #414141;
    text-align: center;
    text-transform: capitalize;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.modal__form {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
}

.modal__label-phone {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #8f8f8f;
    width: 260px;
}

.modal__input-phone {
    padding: 12px 16px;
    width: 260px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #70C05B;
    background: #ffffff;
    box-shadow: 4px 8px 16px 0px rgba(112, 192, 91, 0.20);
    caret-color: #70c05b;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;

    &:focus {
        outline: 1px solid #70C05B;
    }


    &::placeholder {
        color: #414141;
        font-family: inherit;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        border-radius: 1px;
    }
}

.modal-entrance {
    padding: 14.4px;
    background-color: #fcd5ba;
    width: 260px;
    text-align: center;
    border: 2px solid transparent;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #f63;
    line-height: 36px;
    cursor: pointer;

}

.btn__modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.modal-registration {
    padding: 4px 8px;
    background: transparent;
    border: 1px solid #70C05B;
    border-radius: 4px;
    color: #70C05B;
    text-align: center;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
}

.modal-password {
    padding: 4px 8px;
    background: transparent;
    border: transparent;
    color: #606060;
    text-align: center;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
}