.stock {
    padding: 40px 0 60px 0;
}

.new {
    padding: 60px 0 60px 0;
}

.bought {
    padding: 60px 0 60px 0;
}

.product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.product__card {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
    background-color: #ffffff;
}

.product__card-content {
    padding: 8px;
}

.product-wrap-img {
    position: relative;
}

.product-heart-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.product-discount {
    position: absolute;
    padding: 4px 8px;
    margin: 0;
    bottom: 0;
    left: 10px;
    color: #ffffff;
    background-color: #F63;
    border-radius: 4px;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.product__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__wrap-card {
    display: flex;
    flex-direction: column;
}

.product-card-price {
    color: #414141;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.product-subtitle {
    color: #bfbfbf;
    font-family: Rubik, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.product__wrap-price {
    display: flex;
    flex-direction: column;
}

.product-price {
    color: #606060;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.product-text {
    margin: 8px 0 8px 0;
    color: #414141;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.product-btn {
    display: inline-block;
    padding: 8px;
    width: 100%;
    min-height: 40px;
    margin-top: auto;
    color: #70c05b;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    outline: 1px solid #70c05b;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #F63;
        color: #ffffff;
        outline: 1px solid transparent;
    }
}