.stock {
    padding: 80px 0 120px 0;
}

.stock__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.stock__header-title {
    margin: 0;
}

.stock__header-link {
    position: relative;
    padding-right: 32px;
    text-decoration: none;
    color: #606060;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        right: -20px;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url('/images/arrow.svg');
    }
}

.stock-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.stock-item {}

.stock__card {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
    background-color: #ffffff;
}

.stock__card-content {
    padding: 8px;
}

.stock-wrap-img {
    position: relative;
}

.stock-heart-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.stock-img {}

.stock-discount {
    position: absolute;
    padding: 4px 8px;
    margin: 0;
    bottom: 0;
    left: 10px;
    color: #ffffff;
    background-color: #F63;
    border-radius: 4px;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.stock__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock__wrap-card {
    display: flex;
    flex-direction: column;
}

.stock-card-price {
    color: #414141;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.stock-subtitle {
    color: #bfbfbf;
    font-family: Rubik, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.stock__wrap-price {
    display: flex;
    flex-direction: column;
}

.stock-price {
    color: #606060;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-text {
    margin: 8px 0 8px 0;
    color: #414141;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-star {}

.card-star--two {}

.card-btn {
    padding: 8px;
    width: 100%;
    min-height: 40px;
    color: #70c05b;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    outline: 1px solid #70c05b;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #F63;
        color: #ffffff;
        outline: 1px solid transparent;
    }
}