@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("rubik-400.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("rubik-700.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("roboto-700.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}