.main-footer {
    padding: 40px 116px 58px 116px;
    background-image: url("../../images/footer-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-wrap {
    display: flex;
    align-items: center;
}

.main-footer-list {
    display: flex;
    padding: 0;
    margin: 0 auto 0 40px;
    list-style: none;
    gap: 40px;
}

.main-footer-link {
    text-decoration: none;
    color: #414141;
    font-family: Rubik, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #f63;
    }
}

.main-footer-social-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-footer-social-item {

    &:not(:first-child) {
        margin-left: 16px;
    }
}

.main-footer-social-link {
    display: inline-block;

}

.main-footer-logo-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}


.main-footer-social-link--phone {
    margin-left: 72px;
    text-decoration: none;
    color: #414141;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-footer-address-span {
    display: inline-block;
    margin-right: 8px;
    color: #414141;
    font-family: Rubik, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}