.main-header {
    padding: 0 116px;
    background-color: #ffffff;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.10);
}

.main__header-nav {
    padding: 16px 0 0 0;
    display: flex;
    align-items: center;

}

.main__header-logo {
    margin-right: 40px;

    img {
        min-width: 152px;
    }
}

.catalog-btn {
    position: relative;
    padding: 8px;
    margin-right: 16px;
    width: 140px;
    font-size: 16px;
    font-weight: $ff-regular;
    line-height: 24px;
    background-color: #70c05b;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #4e953c;
    }

    &::after {
        content: '';
        position: absolute;
        background-image: url('../../images/menu.svg');
        background-position: center right;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        top: 50%;
        left: 20px;
        transform: translate(-50%, -50%);
    }
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-list {
    position: absolute;
    padding: 40px 160px;
    content: '';
    top: calc(26px + 40px);
    left: 0;
    right: 0;
    columns: 272px 4;
    row-gap: 400px;
    width: 100%;
    background-color: #ffffff;
    transform: translateX(-200%);
    transition: all 0.4s ease-in;
    z-index: 3;
}

.catalog-menu:hover>.catalog-btn+.catalog-list {
    transform: translateX(0);
}

.catalog-link {
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: #414141;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: $ff-bold;
    line-height: 1.5;
    margin-bottom: 24px;

    &:hover {
        color: #F63;
    }
}

.catalog-user-form {
    position: relative;
    margin-right: 40px;
}

.catalog-user-input {
    padding: 8px 40px 8px 8px;
    width: 355px;
    height: 40px;
    font-family: inherit;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 4px;
    border: 1px solid #70c05b;
    caret-color: #70c05b;

    &:focus {
        outline: none;
        border: 1px solid #70c05b;
    }

}

.search--icon {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-image: url('../../images/search.svg');
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 999;
    cursor: pointer;
}

.catalog-list-user {
    display: flex;
    align-items: center;
}

.catalog-item-user {

    &:nth-child(n+3) {
        margin-left: 24px;
    }
}

.catalog-link-user {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #414141;
    text-align: center;
    font-size: 12px;
    font-weight: $ff-regular;
    line-height: 1.5;
}

.icon--box,
.icon--cart,
.icon--heart {
    flex-direction: column;
}

.catalog-link-user.icon--cart svg,
.catalog-link-user.icon--heart svg,
.catalog-link-user.icon--box svg {
    transition: all 0.3s ease-in-out;
    fill: #414141;
    margin-bottom: 8px;
}

.catalog-link-user:hover.icon--heart svg {
    fill: #F63;
}

.catalog-link-user:hover.icon--box svg {
    fill: #f3a200;
}

.catalog-link-user.icon--cart {
    position: relative;
}

.catalog-link-user:hover.icon--cart svg {
    fill: #154163;
}

.icon--cart-decor::after {
    position: absolute;
    content: attr(data-number);
    top: -7px;
    right: 11px;
    width: 14px;
    height: 14px;
    font-size: 11px;
    text-align: center;
    color: #ffffff;
    background-color: #F63;
    border-radius: 4px;
    z-index: 999;
}

// PROFILE

.profile-list {
    position: relative;
    background-color: #ffffff;
    padding: 0;
    margin: 0 0 0 auto;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

.profile__menu-list {}

.profile-item {
    padding: 8px;
}

.profile__menu-item {}

.profile-link {
    position: relative;
    width: 201px;
    display: inline-block;
    text-decoration: none;
    color: #232323;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.profile__menu-link {}

.profile-avatar {}

.profile__menu-avatar {}

.profile-name {
    margin: 8px 10px 0 10px;
    display: inline-block;
    color: #232323;
    font-size: 16px;
    font-weight: $ff-regular;
    line-height: 24px;
}

.profile__menu__avatar-name {}

.profile-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}

.profile__menu-arrow {}

.profile__submenu-list {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
}

.profile__submenu-item {}

.profile__submenu-link {}

.profile__submenu-arrow {}

.catalog-link-user {}

.profile__menu-list .profile__submenu-list {
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.profile__menu-list li:hover>.profile__submenu-list {
    opacity: 1;
    visibility: visible;
}

// ========================



.profile__menu-list li:hover a>.profile__menu-arrow svg {
    transition: all 0.4s ease-in-out;
    transform: rotate(180deg);
}

.profile-arrow svg {
    fill: #414141
}

.main-header-banner-wrap {
    display: flex;
    align-items: center;
}

.main-header-banner {
    padding: 0 128px 0 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    min-height: 200px;
    background-image: url('../../images/main-header-banner-decor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-header-banner-title {
    max-width: 751px;
    color: #414141;
    font-family: Rubik, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}